{
	"author": "Cool Person",
	"site": "https://example.com/",
	"title": ["Digital Projects by"],
	"sub": ["Fancy web stuff built by"],
	"topics": [
		{ 
			"title":  ["My Projects"],
			"items": [
				{
					"title": ["Super Cool App"],
					"techs": ["Rust"],
					"date": 2022,
					"sub": ["Crazy app I built to make people around the world happy"],
					"url": "https://app.example.com/",
					"img": "app.png",
					"git": "https://github.com/user/app"
				}
			]
		},
			
	]
}